/* page stuff */

body {
  height: 100%;
  width: 100%;
  font-family: monospace;
  margin: 0;
  box-sizing: border-box;
}

#page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  padding: 1em 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

p.spaced {
  letter-spacing: 0.3em;
}

p {
  text-align: center;
}

/* nav */

#nav {
  display: flex;
  flex-direction: row;
  margin: 0 185;
  text-align: center;
}

#nav a {
  font-size: 12;
  font-style: italic;
  flex-grow: 1;
  margin: 1em 5em;
  transition: all 0.5s;
  letter-spacing: 0.3em;
}

#nav a:hover {
  text-shadow: 0.5px 0.5px 1px grey;
  border-color: grey;
  border-bottom: none;
}

/* page content */

#content {
  padding: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  animation-name: fadein;
  animation-duration: 1.5s;
  width: 100%;
}

/* art page */

#art-frame {
  border:none;
  width:750px;
  height: 2500px
}

/* record page */

#records {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.record a img {
  border: 1px solid;
  border-color: ghostwhite;
  transition: all 0.5s;
  height: 260px;
  margin: 0 25px;
}

.record a img:hover {
  opacity: .85;
}

.record .record-text {
  opacity: 0;
  height: 25px;
  margin: 0 25px 35px;
  transition: all 0.5s;
}

.record:hover .record-text{
  opacity: 1;
}

/* album pages */

#album-page-content {
  padding: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  animation-name: fadein;
  animation-duration: 1.5s;
}

#album-left {
  align-items: center;
}

#album-right {
  padding: 1em;
}

#album-image-container {
  border: 1px solid ghostwhite;
  transition: all 1s;

}

#album-cover-big {
  display: inline;
}
#album-image-container:hover #album-cover-big {
  display: none;
  animation-name: fadeout;
  animation-duration: 1s;
}

#cassette-mockup {
  display: none;
}
#album-image-container:hover #cassette-mockup {
  display: inline;
}

#bandcamp {
  border: 0;
  margin-bottom: 13px;
  height: 42px;
  width: 50%;
}

/* animations */

@keyframes fadein {
    0%   {opacity: 0}
    100% {opacity: 1}
}
